body {
    height: 100%;
    display: flex;
    margin: 0;
    background-color: #151515; /* #2F3E36 #272B29 #252526 #333935 */
    color: #fff;
    font-family: Consolas, 'Courier New', monospace;
}

#main_wrapper {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

/* main view */

#welcome_screen {
    margin: auto;
}

header {
    min-height: 50px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome_header {
    text-align: center;
    margin: 0;
    font-size: 2em;
}

#welcome_text {
    width: 80%;
    margin: auto;
}

.offline {
    background: #f04747;
}

.starting_up {
    background: #faa61a;
}

.online {
    background: #43b581;
}

#bot_status > header > button {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    margin-right: 20px;
}

/* guilds menu */

#guilds_menu {
    width: 350px;
    height: 100vh;
    align-self: flex-start;
    background-color: #232323;
    display: flex;
    flex-direction: column;
}

.guild_element {
    width: 100%;
    margin: 10px 0;
}

.guild_element a {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.guild_element a:hover {
    background-color: #3d3d3d;
}

.guild_element img {
    width: 20%;
    height: 20%;
    margin: 10px 10px;
}

.guild_element h1 {
    font-size: 1.4em;
    text-align: center;
}

#guilds_menu_header {
    font-size: 1.45em;
}